.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(162, 255, 219);
    color: black;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: black
}
.navbar li a:hover{
    color: rgb(109, 54, 0);
}
